<template>
  <div>
    <div class="sw-form">
      <p v-if="errorMessage" class="center">
        <SwAlert :message="errorMessage" type="warning"/>
      </p>
      <div class="inputs-group">
        <SwInput
          v-model="packstationZip"
          name="packstationZip"
          :label="$t('ZIP')"
          :error-message="$t('Zip is required')"
          :valid="!$v.packstationZip.$error"
          :disabled="isLoading"
          required
          class="sw-form__input form__element form__element--small"
          @blur="$v.packstationZip.$touch()"
        />
        <SwInput
          v-model="packstationCity"
          name="packstationCity"
          :label="$t('City')"
          :error-message="$t('City is required')"
          :valid="!$v.packstationCity.$error"
          :disabled="isLoading"
          required
          class="sw-form__input form__element form__element--small"
          @blur="$v.packstationCity.$touch()"
        />
      </div>
      <div class="inputs-group">
        <SwButton
          class="sw-form__button"
          :disabled="isLoading"
          @click="searchPackstation"
        >
          {{ $t("Search") }}
        </SwButton>
      </div>
    </div>
    <div>
      <BingMaps v-if="mapConfig.mapType === 'bingMaps'" :config="mapConfig" :locations="locations"
                @selectLocation="this.selectLocation"/>
    </div>
  </div>
</template>

<script>

import { useVuelidate } from "@vuelidate/core"
import { required } from "@vuelidate/validators"
import { reactive, ref, toRefs } from "@vue/composition-api"
import { invokePost } from "@shopware-pwa/shopware-6-client"
import { getApplicationContext, useSessionContext } from "@shopware-pwa/composables"
import SwAlert from "@/components/atoms/SwAlert.vue"
import SwInput from "@/components/atoms/SwInput.vue"
import SwButton from "@/components/atoms/SwButton.vue"
import BingMaps from "./maps/BingMaps.vue"

export default {
  name: "PackstationMapForm",
  components: {
    SwAlert,
    SwInput,
    SwButton,
    BingMaps,
  },
  props: {
    selectLocation: Function
  },
  setup(props, { root }) {
    const {sessionContext} = useSessionContext()
    const mapConfig = sessionContext.value?.context?.extensions?.packstation?.config

    const state = reactive({
      packstationZip: "",
      packstationCity: "",
    })

    const $v = useVuelidate({
      packstationZip: {
        required,
      },
      packstationCity: {
        required,
      },
    }, state)

    const { apiInstance } = getApplicationContext(root)
    const locations = ref([])
    const errorMessage = ref("")
    const isLoading = ref(false)
    const doSearch = async () => {
      try {
        const locationResponse = await invokePost(
          {
            address: '/store-api/packstation/search',
            payload: state,
          },
          apiInstance
        )
        isLoading.value = true
        if (locationResponse.data && locationResponse.data.length) {
          locations.value = locationResponse.data
        } else {
          errorMessage.value = root.$t("No Packstations could be found for the combination of ZIP and City.")
        }
      } catch (e) {
        errorMessage.value = e.message
      } finally {
        isLoading.value = false
      }
    }

    return {
      mapConfig,
      ...toRefs(state),
      $v,
      locations,
      errorMessage,
      isLoading,
      doSearch,
    }
  },
  methods: {
    async searchPackstation() {
      this.errorMessage = ""
      this.$v.$touch()
      if (this.$v.$invalid) {
        return
      }

      await this.doSearch()
    },
  },
};
</script>
<style lang="scss" scoped>

</style>
