<template>
  <div class="bing-maps">
    <div class="legend">
      <ul class="legend-labels">
        <li v-for="legendItem in legendItems" v-html="legendItem">
          {{ legendItem }}
        </li>
      </ul>
    </div>
    <div v-if="isTestMode" class="test-mode-overlay">Test mode</div>
    <div id="mapRoot"></div>
  </div>
</template>
<script>

import {
  ref,
  watch,
  onMounted,
  onBeforeUnmount,
} from "@vue/composition-api"

export default {
  name: "BingMaps",
  props: {
    config: Object,
    locations: Array,
  },
  setup(props, { root, emit }) {
    const target = ref({});
    const map = ref({});
    const legendItems = ref([])
    const isTestMode = ref(false)

    watch(() => props.locations, (locations) => {
      addLocations(prepareLocations(locations));
    })

    const loadMap = () => {
      const url = root?.context?.$config?.BING_MAPS_URL;
      loadMapApi(url)
        .then(() => {

          if (!initMap()) {
            let intervalNumber = setInterval(function () {

              if (initMap()) {
                clearInterval(intervalNumber);
              }

            }, 700);
          }

        }).catch((error) => {
        throw error;
      });
    }

    const loadMapApi = (url) => {
      return new Promise((resolve, reject) => {
        if (document.getElementsByTagName('head')[0].innerHTML.toString().includes(url)) {
          resolve();
          return;
        }

        const tag = document.createElement('script');
        tag.src = url;
        tag.type = 'text/javascript';
        tag.async = true;
        tag.defer = true;

        document.getElementsByTagName('head')[0].appendChild(tag);

        tag.onload = resolve;
        tag.onerror = reject;
      });
    }

    const initMap = () => {
      try {
        map.value = new window.Microsoft.Maps.Map('#mapRoot',
          {
            credentials: root?.context?.$config?.APP_BING_MAPS_KEY,
            enableSearchLogo: false,
            enableClickableLogo: false,
            showDashboard: false,
            showMapTypeSelector: false,
            showScalebar: false,
            zoom: 13
          }
        );

        addPushPinLegend();
        isTestModeKey(props.config.mapApiKey)
        return true;

      } catch (exception) {
        return false;
      }
    }

    const addPushPinLegend = () => {
      if (props.config === undefined || props.config.shopPushPinLegend === null || !props.config.shopPushPinLegend) {
        return;
      }

      const items = []
      if (props.config.colorPackstation) {
        items.push('<span style="background-color:' + props.config.colorPackstation + ';"></span>Packstation');
      }

      if (props.config.colorPostoffice) {
        items.push('<span style="background-color:' + props.config.colorPostoffice + ';"></span>Postfiliale');
      }

      legendItems.value = items;
    }

    const isTestModeKey = (key) => {
      isTestMode.value = key === "" || key === root?.context?.$config?.APP_BING_MAPS_KEY
    }

    const prepareLocations = (locations) => {
      const locationData = [];

      locations.forEach(({ location, name, place }) => {
        if (location.keyword === null || location.keyword === "" || location.keywordId === null || location.keywordId === "") {
          return;
        }

        let type = null;
        switch (location.type) {
          case 'postoffice':
          case 'postbank':
          case 'servicepoint':
            type = 'F';
            break;
          case 'locker':
            type = 'P'
            break;
        }

        if (type === null) {
          return;
        }

        let title = `${location.keyword} ${location.keywordId}`.trim();

        let description = `${place.address.streetAddress}<br/>${place.address.postalCode} ${place.address.addressLocality}`.trim();
        if (title !== name) {
          description = `${name}<br/>${description}`.trim();
        }

        locationData.push({
          'location': place.geo,
          'title': title,
          'description': description,
          'data_type': type,
          'data_number': location.keywordId,
          'data_address': place.address
        })

      });

      return locationData;
    }

    const addLocations = (locations) => {
      let first = true;
      const infoBox = new window.Microsoft.Maps.Infobox(new window.Microsoft.Maps.Location(0, 0),
        {
          visible: false,
          offset: new window.Microsoft.Maps.Point(10, 20),
          height: 110,
          width: 250,
          showCloseButton: true,
          zIndex: 99,
          actions: [
            {
              label: 'Use as shipping address',
              eventHandler: function () {
                emit('selectLocation', {
                  'address': target.value.data_address,
                  'type': target.value.data_type,
                  'number': target.value.data_number
                })
              }
            }
          ]
        });

      map.value.entities.clear();

      let pinConfig = {};
      locations.forEach((element) => {
        pinConfig = setColorConfig(element, pinConfig);

        const pin = new window.Microsoft.Maps.Pushpin(
          new window.Microsoft.Maps.Location(element.location.latitude, element.location.longitude),
          pinConfig
        );

        window.Microsoft.Maps.Events.addHandler(pin, 'click', function () {
          map.value.setView({ center: pin.getLocation() });
        });

        if (first) {
          first = false;
          map.value.setView({ center: new window.Microsoft.Maps.Location(element.location.latitude, element.location.longitude) });
        }

        pin.title = element.title;
        pin.description = element.description;
        pin.data_number = element.data_number;
        pin.data_address = element.data_address;
        pin.data_type = element.data_type;

        map.value.entities.push(pin);

        const handler = function (e) {
          if (e.targetType === 'pushpin') {
            target.value = e.target;

            infoBox.setLocation(e.target.getLocation());
            infoBox.setOptions(
              {
                visible: true,
                title: target.value.title,
                description: target.value.description
              }
            );
          }
        };

        window.Microsoft.Maps.Events.addHandler(pin, 'click', handler);
        window.Microsoft.Maps.Events.addHandler(pin, 'mouseover', handler);

      });

      infoBox.setMap(map.value);
    }

    const setColorConfig = (location, config) => {

      if (props.config === undefined || !props.config || !props.config.colorPostoffice || !props.config.colorPackstation) {
        delete config.color;
        return config;
      }

      let pinColor = null;
      if (isPackstation(location) && props.config.colorPackstation) {
        pinColor = props.config.colorPackstation;
      } else if (isPostoffice(location) && props.config.colorPostoffice) {
        pinColor = props.config.colorPostoffice
      }

      config.color = pinColor;
      return config;
    }

    const isPackstation = (location) => {
      return location.data_type === 'P';
    }

    const isPostoffice = (location) => {
      return location.data_type === 'F';
    }

    const disposeMap = () => {
      if (map.value && typeof (map.value.dispose) === 'function') {
        map.value.dispose();
      }
    }

    onMounted(() => {
      loadMap()
    })

    onBeforeUnmount(() => {
      disposeMap()
    })

    return {
      target,
      map,
      legendItems,
      isTestMode,
      loadMap,
      disposeMap,
    }
  },
};
</script>
<style lang="scss" scoped>
@import "@/assets/scss/variables";

.bing-maps {
  margin-top: var(--form-button-margin-top);
  height: 400px;
}

.legend {
  position: relative;
  z-index: 1;
  pointer-events: none;

  ul {
    margin: 5px 0 0 5px;
    padding: 0;
    float: left;
    list-style: none;

    li {
      font-size: .75rem;
      font-weight: 700;
      list-style: none;
      margin-left: 0;
      line-height: 18px;
      margin-bottom: 2px;

      ::v-deep span {
        display: block;
        float: left;
        height: 16px;
        width: 16px;
        margin-right: 5px;
        margin-left: 0;
        border: 1px solid #999;
        border-radius: 25px;
      }
    }
  }
}

.test-mode-overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  font-size: x-large;
  text-align: center;
}
</style>
