<template>
  <div class="packstation-plugin">
    <div class="sw-form">
      <div class="inputs-group">
        <SfRadio
          v-for="alternativeAddressMethod in alternativeAddressMethods"
          :key="alternativeAddressMethod.id"
          v-model="activeAlternativeAddress"
          :label="alternativeAddressMethod.name"
          :value="alternativeAddressMethod.id"
          name="alternativeAddressMethod"
          class="sf-radio--transparent"
        />
        <SwButton
          class="sw-form__button"
          :disabled="activeAlternativeAddress === '0'"
          @click="isModalOpen = true"
        >
          {{ $t("Search Packstation/Post office") }}
        </SwButton>
      </div>
      <div v-if="activeAlternativeAddress > 0" class="inputs-group">
        <SwInput
          v-model="packstationPostNumber"
          name="packstationPostNumber"
          :label="$t('DHL Customer number (Post number)')"
          :error-message="$t('DHL Customer number is required')"
          :valid="!$v.packstationPostNumber.$error"
          required
          class="sw-form__input form__element form__element--small"
          @blur="$v.packstationPostNumber.$touch()"
        />
      </div>
      <div v-if="activeAlternativeAddress > 0" class="inputs-group">
        <SfSelect
          v-model="packstationType"
          :label="$t('Packstation/Post office')"
          :error-message="$t('Packstation/Post office must be selected')"
          :valid="!$v.packstationType.$error"
          class="
            sf-select--underlined
            sw-form__select sw-form__input
            sf-input--has-text
          "
          @blur="$v.packstationType.$touch()"
        >
          <SfSelectOption
            v-for="packstationType in packstationTypes"
            :key="packstationType.id"
            :value="packstationType.id"
          >
            {{ packstationType.name }}
          </SfSelectOption>
        </SfSelect>
        <SwInput
          v-model="packstationNumber"
          name="packstationNumber"
          :label="$t('Number')"
          :error-message="$t('Number is required')"
          :valid="!$v.packstationNumber.$error"
          required
          class="sw-form__input form__element form__element--small"
          @blur="$v.packstationNumber.$touch()"
        />
      </div>
    </div>
    <SfModal
      class="sw-modal packstation-modal"
      :title="$t('Search Packstation/Post office')"
      :visible="isModalOpen"
      @close="isModalOpen = false"
    >
      <SfHeading
        :title="$t('Search Packstation/Post office')"
        class="title desktop-only"
        :level="4"
      />
      <PackstationMapForm :selectLocation="selectLocation"/>
    </SfModal>
  </div>
</template>

<script>

import { useVuelidate } from "@vuelidate/core"
import { required } from "@vuelidate/validators"
import { reactive, ref, toRefs, watch } from "@vue/composition-api"
import { SfSelect, SfRadio, SfModal, SfHeading } from "@storefront-ui/vue"
import SwInput from "@/components/atoms/SwInput.vue"
import SwButton from "@/components/atoms/SwButton.vue"
import SwPluginSlot from "sw-plugins/SwPluginSlot.vue"
import PackstationMapForm from "./components/PackstationMapForm.vue"

export default {
  name: "PackstationPlugin",
  components: {
    SfRadio,
    SfSelect,
    SfModal,
    SfHeading,
    SwInput,
    SwButton,
    SwPluginSlot,
    PackstationMapForm,
  },
  props: {
    slotContext: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      alternativeAddressMethods: [
        {
          id: "0",
          name: "Post address"
        },
        {
          id: "1",
          name: "Packstation/Post office"
        },
      ],
      packstationTypes: [
        {
          id: "P",
          name: "DHL Packstation"
        },
        {
          id: "F",
          name: "Post office"
        },
      ],
    };
  },
  setup(props) {
    const isModalOpen = ref(false);
    const activeAlternativeAddress = ref("0");
    watch(activeAlternativeAddress, (isEnabled) => {
      props.slotContext.packstationOnChangeStatus(isEnabled === "1")
    })

    const state = reactive({
      packstationPostNumber: "",
      packstationNumber: "",
      packstationType: "F",
    })

    const $v = useVuelidate({
      packstationPostNumber: {
        required,
      },
      packstationNumber: {
        required,
      },
      packstationType: {},
    }, state)

    const selectLocation = (target) => {
      isModalOpen.value = false
      state.packstationNumber = target.number
      state.packstationType = target.type
      props.slotContext.packstationOnSetLocation(target.address)
    }

    return {
      isModalOpen,
      activeAlternativeAddress,
      ...toRefs(state),
      $v,
      selectLocation,
    }
  }
};
</script>
<style lang="scss" scoped>
@media (min-width: 1024px) {
  .packstation-modal ::v-deep .sf-modal__container {
    min-width: 600px;
  }
}
</style>
